<a href="https://colab.research.google.com/github/fsrt16/TimeSeriesAnalysis/blob/master/TimeSeriesAnalysisUpdated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

In [0]:
dftest = pd.read_csv('test.csv')

In [0]:
df=df.drop('ID',axis=1)

In [172]:
df.head(5)

,Count,Day,Month,Year,hour,minute,dayname,IsWeekDay,Isleap,max,min,avg,std,skew,kurtosis,variance
0,8,25,08,2012,00,00,Saturday,0,1,8,8,-1.000000,-1.000000,-1.000000,0.952683,-1.000000
1,2,25,08,2012,01,00,Saturday,0,1,8,2,5.000000,4.242641,-1.000000,2.093841,18.000000
2,6,25,08,2012,02,00,Saturday,0,1,8,2,5.333333,3.055050,-0.935220,-1.372271,9.333333
3,2,25,08,2012,03,00,Saturday,0,1,8,2,4.500000,3.000000,0.370370,2.043166,9.000000
4,2,25,08,2012,04,00,Saturday,0,1,8,2,4.000000,2.828427,0.883883,2.213086,8.000000

In [0]:
Datetime=df['Datetime'].str.split(' ', n = 1, expand = True)
df['time']=Datetime[1]
Date = Datetime[0].str.split('-', n = 2, expand = True)
df['Day']=Date[0]
df['Month']=Date[1]
df['Year']=Date[2]
time=df['time'].str.split(':', n = 1, expand = True)
df['hour']=time[0]
df['minute']=time[1]
df=df.drop('time',axis=1)
df=df.drop('Datetime',axis=1)

In [0]:
import datetime 
import calendar 
def findDay(date):
  born=[]
  for i in range(0,len(date)):
    born.append(calendar.day_name[datetime.datetime.strptime(date[i], '%d %m %Y').weekday()] )
    
  return (born)
def weekday(date):
  lt=[]
  for i in range(0,len(date)):
    
    if date[i] in ['Monday','Tuesday','Thursday','Wednesday','Friday']:
      lt.append(1)
    else:
      lt.append(0)
  return lt
def  leap(date):
  import calendar
  lt=[]
  for i in range(0,len(date)):
    if (calendar.isleap(int(date[i]))) :
      lt.append(1)
    else:
      lt.append(0)
  return lt

In [0]:
x = findDay((df['Day']+" "+df['Month']+" "+df['Year']))
df['dayname']=x

In [0]:
df['IsWeekDay'] = weekday(df['dayname'])

In [0]:
df['Isleap']=leap(df['Year'])

In [0]:
def max(serie):
  maxf = serie[0]
  lmax=[]
  for i in range(0,len(serie)):
    if i == 0:
      lmax.append(maxf)
    else :
      if maxf < serie[i]:
        maxf = serie[i]
      lmax.append(maxf)
  return lmax
def min(serie):
  mixf = serie[0]
  lmix=[]
  for i in range(0,len(serie)):
    if i == 0:
      lmix.append(mixf)
    else :
      if mixf > serie[i]:
        mixf = serie[i]
      lmix.append(mixf)
  return lmix
def avg(serie):
  avg = serie[0]
  lavg=[]
  for i in range(0,len(serie)):
    if i == 0:
      lavg.append(avg)
    else :
      avg = (avg*i  + serie[i])/(i+1)
      lavg.append(avg)
  return lavg
def std(serie):
  lavg=[]
  for i in range(0,len(serie)):

In [0]:
df['max'] = max(df['Count'])
df['min'] = min(df['Count'])
df['avg'] = df['Count'].expanding(min_periods=2).mean()

In [0]:
df['std']=df['Count'].expanding(min_periods=2).std()
df['skew']=df['Count'].expanding(min_periods=2).skew()
#df['kurtosis']=df['Count'].expanding(min_periods=2).kurtosis()
df['variance']=df['Count'].expanding(min_periods=2).var()

In [0]:
df['std']=df['std'].replace(np.nan,-1)
df['avg']=df['avg'].replace(np.nan,-1)
df['skew']=df['skew'].replace(np.nan,-1)
df['variance']=df['variance'].replace(np.nan,-1)

In [0]:
df['Day'] = (df['Day']).astype(int)
df['Month'] = (df['Month']).astype(int)
df['Year'] = (df['Year']).astype(int)
df['hour'] = (df['hour']).astype(int)
df['minute'] = (df['minute']).astype(int)

# Preparing Test Case

In [0]:
dft = pd.read_csv('test.csv')
dft.head()
ID = dft.ID

In [0]:
def preprocess(df):
  df=df.drop('ID',axis=1)
  Datetime=df['Datetime'].str.split(' ', n = 1, expand = True)
  df['time']=Datetime[1]
  Date = Datetime[0].str.split('-', n = 2, expand = True)
  df['Day']=Date[0]
  df['Month']=Date[1]
  df['Year']=Date[2]
  time=df['time'].str.split(':', n = 1, expand = True)
  df['hour']=time[0]
  df['minute']=time[1]
  df=df.drop('time',axis=1)
  df=df.drop('Datetime',axis=1)
  x = findDay((df['Day']+" "+df['Month']+" "+df['Year']))
  df['dayname']=x
  df['IsWeekDay'] = weekday(df['dayname'])
  df['Isleap']=leap(df['Year'])
  """df['max'] = max(df['Count'])
  df['min'] = min(df['Count'])
  df['avg'] = df['Count'].expanding(min_periods=2).mean()
  df['std']=df['Count'].expanding(min_periods=2).std()
  df['skew']=df['Count'].expanding(min_periods=2).skew()
  #df['kurtosis']=df['Count'].expanding(min_periods=2).kurtosis()
  df['variance']=df['Count'].expanding(min_periods=2).var()
  df['std']=df['std'].replace(np.nan,-1)
  df['avg']=df['avg'].replace(np.nan,-1)
  df['skew']=df['skew'].replace(np.nan,-1)
  df['variance']=df['variance'].replace(np.nan,-1)"""
  df['Day'] = (df['Day']).astype(int)
  df['Month'] = (df['Month']).astype(int)
  df['Year'] = (df['Year']).astype(int)
  df['hour'] = (df['hour']).astype(int)
  df['minute'] = (df['minute']).astype(int)
  return df

In [0]:
dfy = preprocess(dft)

In [256]:
dfy.head()

,Day,Month,Year,hour,minute,dayname,IsWeekDay,Isleap,max,min,avg,std,skew,kurtosis,variance
0,26,9,2014,0,0,Friday,1,0,-14,12,-13,-5,-3,7,8
1,26,9,2014,1,0,Friday,1,0,-14,12,-13,-5,-3,7,8
2,26,9,2014,2,0,Friday,1,0,-14,12,-13,-5,-3,7,8
3,26,9,2014,3,0,Friday,1,0,-14,12,-13,-5,-3,7,8
4,26,9,2014,4,0,Friday,1,0,-14,12,-13,-5,-3,7,8

In [229]:
X_train.shape

(12252, 15)

In [255]:
# Get missing columns in the training test
missing_cols = set( X_train.columns ) - set( dfy.columns )
# Add a missing column in test set with default value equal to 0
for c in missing_cols:
    dfy[c] = np.random.randint(-15,15)
# Ensure the order of column in the test set is in the same order than in train set
dfy = dfy[X_train.columns]
dfy.shape

(5112, 15)

# ML

In [0]:
y = df.Count
X=df.drop('Count',axis=1)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [0]:
X_test.isnull().sum()

In [202]:
df.dtypes

Day            int64
Month          int64
Year           int64
hour           int64
minute         int64
dayname       object
IsWeekDay      int64
Isleap         int64
max            int64
min            int64
avg          float64
std          float64
skew         float64
kurtosis     float64
variance     float64
dtype: object

In [209]:
cat= np.array([5])
cat

array([5])

In [0]:
#importing library and building model
from catboost import CatBoostRegressor
model=CatBoostRegressor(iterations=900, depth=3, learning_rate=0.1, loss_function='RMSE')
model.fit(X_train, y_train,cat_features=cat,eval_set=(X_test, y_test),plot=True)
y_pred = model.predict(X_test)
from sklearn.metrics import mean_squared_error
from math import sqrt
rms = sqrt(mean_squared_error(y_test, y_pred))
print(rms)

In [259]:
rms

26.197616024357565

In [0]:
y_pred = model.predict(dfy)

In [261]:
sam = pd.read_csv('sample.csv')
sam['Count']=y_pred
sam['ID']=ID
sam.head()

      ID      Count
0  18288  31.270266
1  18289  22.074542
2  18290  19.076277
3  18291  15.318096
4  18292   9.367606

In [0]:
sam.to_csv('solnIRand.csv',index=False)